body {
	font-family: Geneva, Tahoma, sans-serif;
	margin: 20px;
	background-color: #1e1e1e;
	color: #d4d4d4;
}

h1 {
	color: #dcdcdc;
	text-align: center;
	text-shadow: 1px 1px 10px rgba(24, 235, 24, 0.921);
}

ol {
	margin: 10px;
	padding: 0px;
	list-style-type: none;
}

ul {
	margin         : 14px;
	padding-left   : 20px;
	list-style-type: none;
}

li {
	margin-bottom: 18px;
}

b {
	color: #14e5b4;
}

.example {
	margin: 5px 0;
	font-family: monospace;
	white-space: pre-wrap;
	border: 2px solid #333;
	padding: 10px;
	border-radius: 4px;
	background: #252526;
	color: #ffffff;
}

button {
	margin-left: 10px;
	padding: 5px 10px;
	background-color: #0a8244;
	color: #ffffff;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

button:hover {
	background-color: #005a9e;
}
