.Navbar {
	background-color: #333;     /* Dark background color */
	padding: 10px;     /* Padding around the navbar */
	display: flex;     /* Flexbox for alignment */
	justify-content: space-between;     /* Space between items */
	align-items: center;     /* Center items vertically */
	border-radius: 4px;
	margin: 0 auto;
	position: fixed;
	top: 1%;
	left: 5%;
}

.Navbar h3 {
	color: #fff;     /* White color for the heading */
	margin: 0;     /* Remove default margin */
	margin-right: 50rem;
	margin-left: 4rem;
}

.Navbar a {
	color: #fff;     /* White color for the links */
	text-decoration: none;     /* Remove underline from links */
	margin: 0 10px;     /* Space between links */
	padding: 5px 10px;     /* Padding around links */
	border-radius: 5px;     /* Rounded corners */
	transition: background-color 0.3s ease;     /* Smooth background color transition */
}

.Navbar a:hover {
	background-color: #555;     /* Darker background color on hover */
}

.Navbar a.active {
	background-color: #007bff;     /* Highlight for the active link */
	color: #fff;     /* White color for active link text */
}
